@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.heading {
  background-color: rgb(12, 11, 11);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
.subNav {
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(199, 195, 195);
  cursor: pointer;
}
.logo1 {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
}
.logo1 img {
  width: 80px;
  height: 30px;
}
.logo1 img:hover {
  cursor: pointer;
}
.search {
  width: 20%;
  height: 50%;
  color: aliceblue;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 13px;
}
.search i:hover {
  color: rgb(210, 209, 209);
  cursor: pointer;
}
.prod-collection{
  width: 92%;
  height: 35%;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;

}
.prod-collection h2{
  font-family: "Open Sans", serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 62.8px;
}
.prod-home{
   width: 40%;
   height: 25%;
   display: flex;
   /* align-items: end; */
   gap: 10px;
}
.prod-home p{
  color: rgb(33, 34, 44);
  font-family: "Inter", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
.prod-home a{
  color: rgb(33, 34, 44);
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}
.Collection-page{
  color: rgb(33, 34, 44);
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
}
.store-collection{
  width: 92%;
  height: 35%;
  /* background-color: aqua; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  gap: 10px;
}
.store-collection h2{
  font-family: "Open Sans", serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 62.8px;
}
.store-collection p{
  color: rgb(70, 70, 71);
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.category-container {
  /* background-color: #121212; */
  width: 95%;
  height: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.image-div:hover .cat-image {
  transform: scale(1.1);
  transition: 0.5s;
}
.image-div {
  overflow: hidden;
  border-radius: 70%;
}
.cat-image {
  width: 330px;
  height: 330px;
  border-radius: 70%;
  transition: 0.4s linear;
  transform: scale(1);
}
.category-products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}
.category-products h4 {
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
}
.category-products p {
  font-family: "Inter", serif;
  color: #545353;
  font-size: 15px;
  font-weight: 400;
  line-height: 27.4px;
}
.category-container2 {
  /* background-color: #121212; */
  width: 95%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.contact {
  width: 100%;
  height: 100vh;
  background: rgb(51, 71, 85);
  background: linear-gradient(101deg, rgb(27, 37, 45) 0%, rgb(29, 15, 10) 100%);
}
.subscribe {
  /* background-color: aqua; */
  width: 92%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  border: #121212;
}
.newsletter {
  width: 50%;
  height: 100%;
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 62.4px;
  text-decoration: solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.submit-email {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.submit-email input {
  background-color: transparent;
  width: 75%;
  height: 13%;
  margin-right: 5px;
  padding: 10px;
  font-family: "Inter", serif;
  color: #6d6d6e;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 50px;
}
.submit-email button {
  font-family: "Inter", serif;
  color: #6d6d6e;
  width: 20%;
  height: 17%;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 50px;
  position: absolute;
  bottom: 105px;
}
.submit-email button:hover {
  cursor: pointer;
}
.information {
  /* background-color: rgb(59, 219, 80); */
  width: 92%;
  height: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  border-top: rgb(78, 76, 76) 1px solid;
}
.quick-link {
  /* background-color: rgb(4, 4, 4); */
  color: #ffffff;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quick-link h2 {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.quick-link ul li {
  list-style: none;
  padding: 8px;
  padding-left: 0px;
}
.quick-link a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  display: flex;
  gap: 20px;
}
.contact-info {
  /* background-color: rgb(201, 5, 5); */
  width: 100%;
  height: 90%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-1 {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.address1 {
  color: #d0d0d4;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  padding-top: 10px;
}
.contact-no {
  width: 50%;
  color: #d0d0d4;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.social-link {
  /* background-color: aqua; */
  width: 60%;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-link i {
  /* background-color: #b4976c; */
  font-size: 15px;
  padding: 6px;
  border-radius: 50%;
  border-color: #f3f1f3;
  border-style: groove;
}
.social-link i:hover {
  cursor: pointer;
}
.elexy-theme1 {
  width: 92%;
  height: 10%;
  margin: 0 auto;
  display: flex;
}
.elexy-theme2 {
  /* background-color: #b4976c; */
  width: 50%;
  height: 100%;
  color: #5a5858;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  align-items: center;
}
.visaa {
  /* background-color: aqua; */
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width : 1200px) {
  
  
}