@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.heading {
  background-color: rgb(12, 11, 11);
  width: 100%;
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  z-index: 100; */
}
.subNav {
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(199, 195, 195);
  cursor: pointer;
}
.logo1 {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
}
.logo1 img {
  width: 80px;
  height: 30px;
}
.logo1 img:hover {
  cursor: pointer;
}
.search {
  width: 20%;
  height: 50%;
  color: aliceblue;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 13px;
}
.search i:hover {
  color: rgb(210, 209, 209);
  cursor: pointer;
}
.product-home1 {
  /* background-color: aqua; */
  width: 92%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.product-img{
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}
.product-img1{
  width: 50%;
  height: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  row-gap: 20px;
}
.phone-img1{
  width: 50%;
  height: 100%;
  position: relative;
}
.phone-img1 i{
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 20px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
.phone-img1:hover i{
  opacity: 1;
}
.phone-img1 img{
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.product-detail{
  /* background-color: rgb(131, 56, 237); */
  width: 50%;
  height: 100%; 
  display: flex;
  align-items: center;
}
.prod-detail{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
}
.smart {
  font-family: "Open Sans", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 62.4px;
}
.price {
  color: #373737;
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.stars {
  display: flex;
  gap: 10px;
}
.stars i {
  font-family: Times;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}
.stars p {
  color: #5c5b5b;
  font-family: "Inter", serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 27px;
}
.mobile {
  color: black;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.mobile span {
  color: #5c5b5b;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}
.stock-1 {
  width: 100%;
  height: 5%;
}
.stock {
  color: #5c5b5b;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.line1 {
  background-color: black;
  width: 61%;
  height: 5px;
}
.color {
  color: black;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.color span {
  color: #5c5b5b;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}
.phone-img {
  /* background-color: blue; */
  width: 30%;
  height: 40px;
  display: flex;
  gap: 10px;
}
.phone-1 {
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  border: rgb(9, 9, 9) 2px solid;
  cursor: pointer;
}
.phone-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
  border: rgb(176, 174, 174) 2px solid;
  cursor: pointer;
}
.quanty {
  width: 100%;
  height: 12%;
}
.quantity {
  color: #535252;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.add-cart {
  /* background-color: aqua; */
  width: 55%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.number {
  color: black;
  width: 20%;
  height: 80%;
  font-size: 15px;
  letter-spacing: 20px;
  text-align: center;
  display: flex;
  align-items: end;
}
.number:hover {
  cursor: pointer;
}
.add-cart button {
  font-family: "Inter", serif;
  color: #6d6d6e;
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  border-radius: 50px;
}
.add-cart button:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}
.buynow {
  background-color: black;
  color: rgb(254, 253, 251);
  width: 100%;
  height: 7%;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  border-radius: 50px;
}
.buynow:hover {
  cursor: pointer;
  transform: scale(2px);
}
.checkout {
  color: #727171;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.visaa {
  /* background-color: aqua; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.product-home2 {
  /* background-color: aqua; */
  width: 92%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.product-img{
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}
.product-img1{
  width: 50%;
  height: 100%;
  margin-top: 30px;
  display: grid;
  /* grid-template-rows: repeat(4,1fr); */
  row-gap: 20px;
}
.phone-img1{
  width: 50%;
  height: 100%;
  position: relative;
}
.phone-img1 i{
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 20px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
.phone-img1:hover i{
  opacity: 1;
}
.phone-img1 img{
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.prod-detail1{
  width: 100%;
  height: 100%;
  
}
.pickup-1{
  /* background-color: aqua; */
  
  display: flex;
}
.pickup-img img {
  /* background-color: #373737; */
  width: 19px;
  height: 18px;
}
.addres-1{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.pickup{
  color: #727171;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  gap: 10px;
}
.pickup span{
  color: rgb(51, 50, 50);
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.hrs-24{
  color: #727171;
  font-family: "Inter", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1px; 
}
.view-store{
  color: #757575;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.view-store:hover{
  color: #414040;
}
.descrip{
  /* background-color: #373737; */
  width: 50%;
  height: 60px;
  display: flex;
  align-items: end;
  gap: 10px;
}
.descrip i{
  font-size: 18px;
  color: #5b5a5a;
}
.descrip a{
  color: #090909;
  font-family: "Open Sans", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}
.share-more{
  /* background-color: aqua; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.fb-1{
  background-color: white;
  padding: 5px 10px;  
  border: #6a6a6a 1px solid;
  cursor: pointer;
}
.fb-1 i{
  font-size: 18px;
  color: #414040;
}
.fb-1 i:hover {
  text-decoration: dashed;
  color: #6a6969;
}
.fb-1 a{
  color: #6a6969;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
}
 .fb-1 a:hover {
  text-decoration: dashed;
  color: #6a6969;
}
.guide-size{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.guide{
  color: #1f1f1f;
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
.customer-rating{
  /* background-color: aqua; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  margin-top: 30px;
}
.customer-rating h2{
  font-family: "Open Sans", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
}
.rating-star i{
  font-size: 18px;
  color: #feb002;
}
.rating-star p{
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400px;
  color: #383838;
}
.review-1 button{
  width: 45%;
  height: 40px;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 700px;
  color: #fdfafa;
  background-color: #feb002;
  cursor: pointer;
  border: none;
}
.review-1 button:hover{
  background-color: #ebd493;
}
.starrate-grid{
  /* background-color: #090909; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-grid{
  width: 45%;
  display: grid;
  grid-template-rows: repeat(5,1fr);
  position: relative;
}
.grid-stars{
  /* background-color: blueviolet; */
  width: 100px;
  font-size: 15px;
  color: #feb002;
  display: flex;
  position: absolute;
  top: 0%;
}
.rating-space{
  background-color: #feb002;
  width: 130px;
  height: 15px;
  display: flex;
  position: absolute;
  top: 0%;
  left: 100px;
}
.rating-space1{
  background-color: #f3f2f1;
  width: 130px;
  height: 15px;
  display: flex;
  position: absolute;
  top: 0%;
  left: 100px;
}
.rating-count{
  width: 30px;
  font-family: "Inter", serif;
  font-size: 13px;
  font-weight: 400px;
  color: #383838;
  position: absolute;
  top: 0;
  right: 20px;
}
.rating-count1{
  width: 30px;
  font-family: "Inter", serif;
  font-size: 13px;
  font-weight: 400px;
  color: #383838;
  position: absolute;
  top: 0;
  right: 20px;
}
.product-home3 {
  /* background-color: aqua; */
  width: 92%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.product-img1{
  width: 50%;
  height: 100%;
  /* background-color: black;  */
}
.prod-detail3{
  /* background-color: rgb(131, 56, 237); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}
.recent{
  width: 100%;
  height: 40px;
  font-family: "Inter", serif;
  font-size: 13px;
  font-weight: 400px;
  color: #feb002;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jhone-grid{
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 20px;
}
.jhone-1{
  width: 50%;
  position: relative;
}
.jhone-1 i{
  color: #feb002;
  font-size: 22px;
}
.jhone-date{
  width: 50%;
  color: #a3a3a3;
  font-size: 15px;
  display: flex;
  justify-content: end;
}
.user-star{
  color: #feb002;
  font-size: 15px;
  display: flex;
  position: absolute;
  top: 0%;
  left: 30px;
}
.jhone-doggy{
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 27px;
  color:  #feb002;
  position: absolute;
  top: 20px;
  left: 45px;
}
.nice-pro{
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 27px;
  color: #6d6d6b;
  position: absolute;
  top: 60px;
}
.rec-product{
  /* background-color: #ebd493; */
  width: 92%;
  height: 20%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", serif;
  font-size: 25px;
  font-weight: 700px;
  line-height: 46px;
}
.sale-product {
  /* background-color: aqua; */
  width: 92%;
  height: 60vh;
  margin: 0 auto;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 0px;
}
.phone12 {
  width: 90%;
  height: 100%;
  /* background-color: #b4976c; */
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-1 {
  width: 100%;
  height: 300px;
  display: flex;
 position: relative;
}
.img-1 i{
  position: absolute;
  top: 0%;
}
.img-2 {
  width: 100%;
  height: 300px;
  position: absolute;
  border: none;
  overflow: hidden;
}
.phone12:hover .img-2 {
  opacity: 0;
  transition: 0.6s;
}
.rate-span1{
  text-decoration: line-through;
  font-family: "Inter", serif;
  color: rgb(78, 78, 77);
   padding-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.phone12:hover .prod-icons {
  opacity: 1;
  transition: 0.6s;
}
.prod-icons {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  position: absolute;
  right: 5%;
  top: 2%;
  opacity: 0;
}
.sale-1 {
  /* background-color: #b4976c; */
  width: max-content;
  height: 20px;
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: "Inter", serif;
  color: #343333;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  / 
}
.prod-icons i {
  background-color: rgb(251, 248, 248);
  color: rgb(11, 11, 11);
  font-size: 20px;
  font-weight: 200;
  padding: 8px;
  border-radius: 50%;
   
}
.prod-icons i:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.like1 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.rate1 {
  width: 100%;
  height: 30%;
}
.phone12 a {
  color: #121212;
  font-family: "Open Sans", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28.6px;
  text-decoration: none;
}
.phone12 p {
  color: #121212;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.prod-next {
  width: 100%;
  height: 20%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.prod-next1 {
  font-family: "Inter", serif;
  color: #5f5f61;
  font-size: 17px;
  font-weight: 500;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.prod-next1:hover{
  color: #121212;
}
.prod-next2 {
  font-family: "Inter", serif;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.view-product {
  /* background-color: #ebd493; */
  width: 92%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", serif;
  font-size: 25px;
  font-weight: 700px;
  line-height: 46px;
}
.rec-viewed {
  /* background-color: aqua; */
  width: 92%;
  height: 60vh;
  margin: 0 auto;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0px;
}
.contact {
  width: 100%;
  height: 100vh;
  background: rgb(51, 71, 85);
  background: linear-gradient(101deg, rgb(27, 37, 45) 0%, rgb(29, 15, 10) 100%);
}
.subscribe {
  /* background-color: aqua; */
  width: 92%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  border: #121212;
}
.newsletter {
  width: 50%;
  height: 100%;
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 62.4px;
  text-decoration: solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.submit-email {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.submit-email input {
  background-color: transparent;
  width: 75%;
  height: 13%;
  margin-right: 5px;
  padding: 10px;
  font-family: "Inter", serif;
  color: #6d6d6e;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 50px;
}
.submit-email button {
  font-family: "Inter", serif;
  color: #6d6d6e;
  width: 20%;
  height: 17%;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 50px;
  position: absolute;
  bottom: 105px;
}
.submit-email button:hover {
  cursor: pointer;
}
.information {
  /* background-color: rgb(59, 219, 80); */
  width: 92%;
  height: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  border-top: rgb(78, 76, 76) 1px solid;
}
.quick-link {
  /* background-color: rgb(4, 4, 4); */
  color: #ffffff;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quick-link h2 {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.quick-link ul li {
  list-style: none;
  padding: 8px;
  padding-left: 0px;
}
.quick-link a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  display: flex;
  gap: 20px;
}
.contact-info {
  /* background-color: rgb(201, 5, 5); */
  width: 100%;
  height: 90%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-1 {
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.address1 {
  color: #d0d0d4;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  padding-top: 10px;
}
.contact-no {
  width: 50%;
  color: #d0d0d4;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.social-link {
  /* background-color: aqua; */
  width: 60%;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-link i {
  /* background-color: #b4976c; */
  font-size: 15px;
  padding: 6px;
  border-radius: 50%;
  border-color: #f3f1f3;
  border-style: groove;
}
.social-link i:hover {
  cursor: pointer;
}
.elexy-theme1 {
  width: 92%;
  height: 10%;
  margin: 0 auto;
  display: flex;
}
.elexy-theme2 {
  /* background-color: #b4976c; */
  width: 50%;
  height: 100%;
  color: #5a5858;
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  align-items: center;
}
.visaa {
  /* background-color: aqua; */
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}