@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.heading {
  background-color: rgb(12, 11, 11);
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
.subNav {
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(199, 195, 195);
  cursor: pointer;
}
.logo1 {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
}
.logo1 img {
  width: 80px;
  height: 30px;
}
.logo1 img:hover {
  cursor: pointer;
}
.search {
  width: 20%;
  height: 50%;
  color: aliceblue;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 13px;
}
.search i:hover {
  color: rgb(210, 209, 209);
  cursor: pointer;
}
.products{
  width: 92%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  align-items: end;
  /* background-color: aquamarine; */
  font-family: "Open Sans", serif;
}
.products h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 62.8px;
}
.short-by{
  width: 92%;
  height: 25%;
  margin: 0 auto;
  display: flex;
  align-items: end;
}
.prod-row{
  /* background-color: blueviolet; */
  width: 30%;
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  gap: 10px;
}
.prod-row p{
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  color: rgb(84, 84, 85);
}
.prod-row p:hover{
  cursor: pointer;
  color: rgb(182, 126, 13);
}
.prod-sortby{
  /* background-color: aquamarine; */
  width: 70%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 15px;
}
.prod-sortby label{
  color: rgb(67, 66, 65);
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
.prod-sortby select{
  width: 180px;
  height: 40px;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid rgb(50, 50, 50);
  /* margin-bottom: px; */
  padding-left: 10px;
  color: rgb(72, 70, 70);
  /* text-align: center; */
}
.prod-sortby p{
  color: rgb(6, 6, 6);
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
.availability-prod{
  width: 92%;
  height: 100%;
  margin: 0 auto;
  display: flex;

}
.availability{
  width: 20%;
  height: 100%;
  background-color: aqua;
}
.prod-availability{
  width: 80%;
  height: 100%;
  background-color: blue;
}